
@{
    ViewBag.Title = "AboutUs";
}
<div class="container">
    <div class="row align-items-center padding-bottom-3x">
        <div class="col-md-5">
            <img class="d-block w-270 m-auto" src="~/ContentCustomer/Theme/images/features/01.jpg" alt="Online Shopping">
        </div>
        <div class="col-md-7 text-md-left text-center">
            <div class="hidden-md-up"></div>
            <h2>
                Online Secure Payment
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters ...
            </p>
        </div>
    </div>
    <hr>
    <div class="row align-items-center padding-top-3x padding-bottom-3x">
        <div class="col-md-5 order-md-2">
            <img class="d-block w-270 m-auto" src="~/ContentCustomer/Theme/images/features/02.jpg" alt="Delivery">
        </div>
        <div class="col-md-7 order-md-1 text-md-left text-center">
            <div class="hidden-md-up"></div>
            <h2>
                Fast & Free Delivery
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters ...
            </p>
        </div>
    </div>
    <hr>
</div>


