#website {
    text-decoration: none;
}

.topbar {
    z-index: 1 !important;
    position: fixed;
    width: -webkit-fill-available;
    margin-right: +226px;
}


.sidebar-dark {
    background-image: linear-gradient(#dc2430,#7b4397, #61045f);
}

.navbar {
    background-image: linear-gradient(to right,#dc2430,#7b4397, #61045f);
}

#profileimage {
    width: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
}

.justify-content-between {
    padding-top: 80px;
}

#website:hover {
    font-size: 16px;
    color: crimson;
}


.logo {
    width: 50px;
    content: url(../../../ContentAdmin/Images/logo.png)
}

#url {
    display: none;
}

.dropdown-toggle::after {
    display: none;
}

.websiteView {
    margin-right: 15px;
    margin-top: 12px;
}

.languagePicture {
    margin-top: 12px;
}

.websiteViewLink {
    text-decoration: none;
    color: white;
}

    .websiteViewLink:hover {
        text-decoration: none;
        color: white;
    }

.username {
    color: white;
}
