
@{
    ViewBag.Title = "Error404";
}

<div class="container padding-top-3x padding-bottom-3x">
    <img class="d-block m-auto page-404" src="~/ContentAdmin/Images/404_art.jpg" alt="404">
    <div class="text-center">
        <h3>
            Page Not Found
        </h3>
        <p>
            Böyle Bir Sayfa yok ama oladabilir.
        </p>
    </div>
</div>

