<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">Inspina Contact Info</h3>
                    <p class="text-white"><i class="fa fa-phone"></i> +90 542 531 4977</p>
                    <p class="text-white"><i class="fa fa-envelope-o"></i> yasincobaan@gmail.com</p>
                    <p class="text-white"><i class="fa fa-map-marker"></i> Ankara, TR</p>
                    <ul class="list-unstyled text-sm text-white">
                        <li><span class="opacity-50">Mon - Fri: </span>09:00 - 18:00</li>
                        <li><span class="opacity-50">Sat - Sun: </span>10.00 - 15:00</li>
                    </ul>
                    <a class="social-button shape-circle sb-facebook sb-light-skin" href="#">
                        <i class="socicon-facebook"></i>
                    </a>
                    <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
                        <i class="socicon-twitter"></i>
                    </a>
                    <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
                        <i class="socicon-googleplus"></i>
                    </a>
                    <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
                        <i class="socicon-instagram"></i>
                    </a>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Our Services</h3>
                    <ul>
                        <li><a href="#">Creative Web Design</a></li>
                        <li><a href="#">Full Responsive Front-End</a></li>
                        <li><a href="#">Compatible For All Browsers</a></li>
                        <li><a href="#">W3C Walidated Code</a></li>
                        <li><a href="#">Amazing Supper Ideas</a></li>
                        <li><a href="#">50+ Different Pages</a></li>
                        <li><a href="#">Tested on Multiple Devices</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">About Us</h3>
                    <ul>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Our Products</a></li>
                        <li><a href="#">Our Clients</a></li>
                        <li><a href="#">Our Testimonials</a></li>
                        <li><a href="#">24/7 Support</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Account Info</h3>
                    <ul>
                        <li><a href="#">My Shopping Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My Tickets</a></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">Order Tracking</a></li>
                        <li><a href="#">Single Tickets</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <hr class="hr-light">
        <p class="footer-copyright text-center">© 2019 Coban Market | All rights reserved</p>
    </div>
</footer>
