
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="separator">&nbsp;</li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
    </div>
</div>