
@{
    ViewBag.Title = "OurCompany";
}
@Html.Partial("_Partialbreadcrumbs")


<div class="container padding-top-1x padding-bottom-3x">
    <div class="row justify-content-center">

        <img id="fabrika" src="~/ContentAdmin/Images/fabrika.jpg" />
        <br />
        <b class="font-weight-bold text-center text-dark">
            A global leader in consulting, technology services and digital transformation, Coban is at the forefront of innovation to address the entire breadth of clients’ opportunities in the evolving world of cloud, digital and platforms.
        </b>
    </div>
</div>