
@{
    ViewBag.Title = "ForgotActivate";
}


<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Password Recovery</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index-1.html">Home</a></li>
                <li class="separator">&nbsp;</li>
                <li>Password Recovery</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Password Recovery -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2>Forgot your password?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <ol class="list-unstyled">
                <li><span class="text-primary text-medium">1. </span>Fill in your email address below.</li>
                <li><span class="text-primary text-medium">2. </span>We'll email you a temporary link.</li>
                <li><span class="text-primary text-medium">3. </span>Use the link to change your password.</li>
            </ol>
            <div class="card mt-4">
                @using (Html.BeginForm("ForgotActivate", "Account", FormMethod.Post))
                {
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" id="email-for-pass" placeholder="Enter your email address" required>

                    </div> <div class="form-group">
                        <input class="form-control" type="text" name="email" id="email-for-pass" placeholder="Enter your email address" required>

                    </div>
                </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Get New Password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


